<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
    }
    h1 {
      font-family:sans-serif;
    }
  </style>
</head>
<body>
  <h1>Sample</h1>
</body>
</html>